<%- include('../compartido/estilos-generales/estilos-generales-component')%>
<%- include('../compartido/menu/menu-component')%>
<h1>Crear Usuario</h1>

<form action="/usuario/crearDesdeVista"
        method="post">
    <label for="nombreID">Nombre:</label>
    <input id="nombreID" type="text" name="nombre">
    <br>
    <label for="apellidoID">Apellido:</label>
    <input id="apellidoID" type="text" name="apellido">
    <br>
    <label for="cedulaID">Cedula:</label>
    <input id="cedulaID" type="text" name="cedula">
    <br>
    <button type="submit">SUBMIT</button>
    <button type="reset">RESET</button>
    <button type="button">BUTTON</button>
</form>




<%- include('../compartido/funcionalidad general/funcionalidad-general-component')%>