<!--        Para identar es ctl+alt+l -->
<!--        Para identar es ctl+/ comentar -->
<!-- ejemplo.js-->
<!DOCTYPE html>
<html>
    <head>
        <!--configuraciones metadatos -->
        <!--        CSS
         <link rel="stylesheet" href="http://localhost:3001/css/estilos-generales.css">
        -->

        <link rel="stylesheet" href="/css/estilos-generales.css">

    </head>
    <body>
        <p> Hola <%= nombre%> </p>

        <!-- Contenido HTML     -->
        <!-- scripts       -->
    <script src="/js/logica-general.js"></script>
    </body>



</html>



