<h1>Preguntas frecuentes</h1>
<%- include('../compartido/menu/menu-component')%>
<%- include('../compartido/estilos-generales/estilos-generales-component')%>

<button onclick="mensajeAlertar()"> ALERTAR </button>
<%- include('../compartido/funcionalidad general/funcionalidad-general-component')%>