<ul>
    <!--list item-->
    <li>
        <!--anchor ancla-->
        <a href="/usuario/vista/inicio">Inicio</a>
    </li>

    <li>
        <!--anchor ancla-->
        <a href="/usuario/vista/faq">Faq</a>
    </li>

    <li>
        <!--anchor ancla-->
        <a href="/usuario/vista/login">Login</a>
    </li>
</ul>